:root {
  --color-1: #FFF636;
  --color-2: #DF0101;
  --color-3: #01DF01;
  --color-4: #1E90FF;
  --color-5: #8904B1;
  --color-6: #C0C0C0;
  --color-7: #FF8800;
  --color-8: #2D803F;
  --color-9: #000000;
  --color-10: #FF69B4;
  --color-11: #8B4513;
  --primary-color: #0064e4;
  --background-image: url(https://fadx-racing.de/script/src13/Logo.png);
  --background-color: #222222;
  --background-repeat: repeat;
  --logo-image: url(https://fadx-racing.de/script/src13/Logo.png);
  --logo-invert: 1;
  --invert-time: 1.5s;
  --navbar-color: #89b560;
  --navbar-opacity: 0.96;
  --navbar-color-strength: 70%;
  --navbar-border: 1;
  --navbar-border-color-1: #bebf57;
  --navbar-border-color-2: #b76c40;
}

.nav-link,
.navbar-dark .navbar-nav .nav-link {
  font-weight: 400;
  white-space: nowrap;
}

.navbar-brand {
  background-image: var(--logo-image) !important;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 40px;
  font-size: 0;
  filter: invert(0);
  transition: var(--invert-time);
}

.navbar-brand:hover {
  filter: invert(var(--logo-invert));
}

.navbar.bg-primary {
  border-image: linear-gradient(269.94deg, var(--navbar-border-color-2) 0%, var(--navbar-border-color-1) var(--navbar-color-strength)) var(--navbar-border);
  background: linear-gradient(269.94deg, var(--primary-color) 0%, var(--navbar-color) var(--navbar-color-strength));
  opacity: var(--navbar-opacity);
}

.navbar-dark .navbar-nav .nav-link:hover {
  font-weight: 500;
  letter-spacing: -0.008rem;
  color: black;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  background-color: transparent !important;
  color: white !important;
  font-weight: 500;
  letter-spacing: -0.008rem;
}

.dropdown-toggle::after {
  vertical-align: 0.2em;
}

.badge {
  padding: 0.4em 0.4em;
}

.navbar-dark .navbar-toggler-icon {
  filter: brightness(0);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--primary-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.dropdown-menu {
  font-size: 0.95rem;
  border: 1px solid var(--primary-color);
  border-radius: 0px;
  border-width: 0px 0px 4px 0px;
  border-top-width: 0px;
  padding: 0;
}

.dropdown-header {
  padding-left: 6px;
}

.dropdown-item {
  color: white;
  font-weight: 500;
  padding: 0.45rem 1.5rem;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: var(--primary-color);
}

.dropdown-divider {
  margin: 0;
  border-top: 1px solid var(--primary-color);
}

.dropdown-menu.show .dropdown-item {
  animation: slideOut 300ms cubic-bezier(0.08, 0.82, 0.17, 1);
  transform-origin: top center;
}

.col-5 {
  color: var(--primary-color);
}

.btn {
  color: black !important;
}

body {
  font-size: 95% !important;
  letter-spacing: 0.0em;
  background-color: var(--background-color);
  background-image: var(--background-image) !important;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
}

.table-striped {
  background-color: #222229 !important;
}

th {
  background-color: #222222;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  background-color: #87EB17;
  color: #2d2d2d;
}

a {
  color: var(--primary-color);
}

a:hover {
  color: #6B3020;
}

.nav-tabs .nav-link {
  color: #b5b5b5;
  background-color: #555;
}

#event-title {
  text-shadow: 2px 2px 5px var(--primary-color);
}

h1,
h2,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-shadow: 2px 2px 5px var(--primary-color);
}

.navbar {
  animation: navbarReady 1ms;
}

@keyframes navbarReady {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

.dropdown-menu.show .dropdown-item {
  animation: slideOut 300ms cubic-bezier(0.08, 0.82, 0.17, 1);
  transform-origin: top center;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--primary-color);
}

@media screen and (min-width: 992px) {
  .navbar-container {
    flex-wrap: nowrap;
  }
}

.navbar-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .navbar-container {
    flex-wrap: nowrap;
  }
}

@keyframes containerReady {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

tbody {
  font-size: 95% !important;
  letter-spacing: 0.0em;
}

a {
  color: white !important;
}

.navbar-dark .navbar-toggler-icon {
  filter: brightness(1) !important;
  background-image: url(https://fadx-racing.de/script/svg/menu.svg);
}

.pagination>li>a,
.pagination>li>span {
  color: black !important;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
  color: black;
}

.sidebar .nav-pills .nav-link.active {
  background-color: #ffffff30;
  color: #555;
}

a.card h3 {
  font-size: 1.4rem;
}

.multiserver-dropdown {
  width: 450px;
  max-height: 800px;
}

#road-temp-text {
  display: block;
  position: absolute;
  margin: 11px;
  margin-top: 22px;
  font-weight: bold;
  color: black;
  font-size: 9px;
}

#ambient-temp-text {
  display: block;
  position: absolute;
  margin: 16px;
  margin-left: 10px;
  font-size: 9px;
  font-weight: bold;
  color: black;
}
